<div>
    <h1>Book Page</h1>

    <div class="mt-5 container">
        <div class="card">
            <div class="header">
                <h4>Book List</h4>
            </div>
        </div>

        <div class="card-body">
            <div *ngIf="isLoading; else elseTableBlock">
                <app-loader />
            </div>

            <ng-template #elseTableBlock>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Book id</th>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemBook of this.books">
                            <td>{{itemBook.bookid}}</td>
                            <td>{{itemBook.author.name}}</td>
                            <td>{{itemBook.title}}</td>
                            <td>{{itemBook.description}}</td>
                            <td>
                                <a routerLink="{{itemBook.bookid}}/updateBook" class="btn btn-primary me-2">Update Book</a>
                                <a routerLink="{{itemBook.bookid}}/addReview" class="btn btn-primary me-2">Add Review</a>
                                <!-- <br> -->
                                <button type="button" (click)="deleteBook($event, itemBook.bookid)"
                                    class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li *ngFor="let page of getPages()" [class.active]="page === pageNumber + 1">
                            <a (click)="onPageChange(page)">{{ page }}</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </div>
</div>